.card {
    padding: var(--unit);

    h1, h2, h3, h4, h5, h6{
        padding: 0 var(--unit);
    }


    &.shadow {
        @extend .shadow-6;
    }

    &.justify-content-vertically {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &.align-vertically {
        display: flex;
        align-items: center;
        height: 100%;
    }
}