.jumbo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;

    img{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    &.golden-ratio-left{
        display: block;
        .content{
            position: absolute;
            left: 38.2%;
            top: 38.2%;
        }
    }
    &.golden-ratio-left{
        display: block;
        .content{
            position: absolute;
            right: 38.2%;
            top: 38.2%;
        }
    }
}