@use "breakpoints";

nav {
    margin: 0;
    padding: 0;
    &.center ul {
        justify-content: center;
    }
    ul {
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
        &.center {
            justify-content: center;
        }
        li{
            display: flex;
            align-items: center;
            .branding{
                font-weight: bold;
                font-size: 200%;
                &:hover, & a:hover{
                    text-decoration: none;
                }
            }
            padding: var(--unit);
            font: {
                family: var(--heading-font);
            }
            a{
                color: var(--text-color);
                text: {
                    decoration: none
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    @include for-each-breakpoint() using ($breakpoint) {
        &.nav-#{$breakpoint}{
            ul{
                display: flex;
                li:first-child{
                    padding-left: var(--unit);
                }
            }   
        }
    }
}
