@use "components/fontscale" as fontscale;
@use "components/scales";

$default-scale: scales.$major-second;

h1,
h2,
h3,
h4,
h5,
h6 {
    font: {
        family: var(--heading-font);
    }
}

.muted{
    color: var(--font-muted-color);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

code {
    background: var(--primary-color);
    color: var(--text-muted-colo);
    font-family: var( --code-font);
    padding: calc(var( --unit) * 1.5);
    white-space: pre-wrap;
    display: block;
    font-weight: bold;
}

$font-weights: 100, 300, 400, 500, 700;

@each $weight in $font-weights{
    .weight-#{$weight}{
        font-weight: #{$weight};
    }
}

@for $i from 1 through 10 {
    .letter-spacing-#{$i}{
        letter-spacing: #{$i}px;
    }
}

@include fontscale.CSS-calc-font-scale($default-scale);

@each $scale, $value in scales.$map {
    @include fontscale.CSS-calc-font-scale($value, ".font-scale-" + $scale);
}

@include for-each-breakpoint() using ($breakpoint) {
    @each $scale, $value in scales.$map {
        @include fontscale.CSS-calc-font-scale($value, ".font-scale-" +$breakpoint + "-"+ $scale);
    }
}
