@use "components/scales";
@import "components/fontscale";

h1,
h2,
h3,
h4,
h5,
h6 {
    font: {
        family: var(--heading-font);
    }
}

.muted {
    color: var(--font-muted-color);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

code {
    background: var(--primary-color);
    color: var(--code-color);
    font-family: var(--code-font);
    padding: calc(var(--unit) * 4);
    white-space: pre-wrap;
    display: block;
}

$font-weights: 100, 300, 400, 500, 700;

@each $weight in $font-weights {
    .weight-#{$weight} {
        font-weight: #{$weight};
    }
}

@for $i from 1 through 10 {
    .letter-spacing-#{$i} {
        letter-spacing: #{$i}px;
    }
}

@include typography-rules();

@each $scale, $value in scales.$map {
    .font-scale-#{$scale} {
        @include root-typography($value);
    }
}

@include for-each-breakpoint() using ($breakpoint) {
    @each $scale, $value in scales.$map {
        .font-scale-#{$breakpoint}-#{$scale} {
            @include root-typography($value);
        }
    }
}
