@use "components/fontscale" as font;
:root{
    @include root-colors();
    @include root-variables();
    @include root-buttons();
    @include root-shadows();
    @include font.root-typography();
}

*, ::before, ::after{
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: var(--layout-margin);;
    font: {
        size: var(--base-font-size);
        family: var(--primary-font);
    }
    color: var(--font-color);
}

header, section, article, aside, footer, nav, div, p, footer {
    margin: var(--layout-margin);
    padding: var(--layout-padding);
}

@include shadow-scales($shadow-scale, $shadow-levels);
@include utility-shadow("box-shadow",  "box");
@include utility-shadow("text-shadow", "text");
@include color-classes();

@include animation-series("slide-down",  "translateY(-1rem)", "translateY(0)", $animation-delay-steps, $animation-base-length, $animation-slow-delay-multiplier);
@include animation-series("slide-up",    "translateY(1rem)",  "translateY(0)", $animation-delay-steps, $animation-base-length, $animation-slow-delay-multiplier);
@include animation-series("slide-left",  "translateX(-1rem)", "translateX(0)", $animation-delay-steps, $animation-base-length, $animation-slow-delay-multiplier);
@include animation-series("slide-right", "translateX(1rem)",  "translateX(0)", $animation-delay-steps, $animation-base-length, $animation-slow-delay-multiplier);

@include animation-series("slide-down-fast",  "translateY(-1rem)", "translateY(0)", $animation-delay-steps, $animation-base-length, $animation-delay-multiplier);
@include animation-series("slide-up-fast",    "translateY(1rem)",  "translateY(0)", $animation-delay-steps, $animation-base-length, $animation-delay-multiplier);
@include animation-series("slide-left-fast",  "translateX(-1rem)", "translateX(0)", $animation-delay-steps, $animation-base-length, $animation-delay-multiplier);
@include animation-series("slide-right-fast", "translateX(1rem)",  "translateX(0)", $animation-delay-steps, $animation-base-length, $animation-delay-multiplier);

@include animation-series("slide-down-slow",  "translateY(-1rem)", "translateY(0)", $animation-delay-steps, $animation-base-length, $animation-fast-delay-multiplier);
@include animation-series("slide-up-slow",    "translateY(1rem)",  "translateY(0)", $animation-delay-steps, $animation-base-length, $animation-fast-delay-multiplier);
@include animation-series("slide-left-slow",  "translateX(-1rem)", "translateX(0)", $animation-delay-steps, $animation-base-length, $animation-fast-delay-multiplier);
@include animation-series("slide-right-slow", "translateX(1rem)",  "translateX(0)", $animation-delay-steps, $animation-base-length, $animation-fast-delay-multiplier);